.subs-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1rem;
  }
  
  .email-input {
    padding: 0.8rem;
    font-size: 1.6rem;
    border: none;
    border-bottom: 0.2rem solid #15133c;
    outline: none;
    width: 10px;
    max-width: 20rem;
  }
  
  .subscribe-button {
    padding: 0.8rem 2.2rem;
    border: none;
    font-size: 1.6rem;
    background-color: #0c0952;
    color: #ffffff;
    margin-left: 1rem;
    cursor: pointer;
    display: inline-block;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .subs-btn {
      flex-direction: column;
      align-items: flex-end;
    }
  
    .email-input {
      max-width: 100%;
    }
  
    .subscribe-button {
      margin-top: 1rem;
      margin-left: 0;
    }
  }
  